.block {
	h2.block-title {
		text-align: right;
		font-weight: 300;
		margin-bottom: 40px;
		@media #{$xs} {
			font-size: 43px;
		}
	}

	p.mini {
		padding-left: 500px;
		margin-bottom: 50px;
		font-size: 16px;
		@media #{$md} {
			padding-left: 300px;
		}
		@media #{$sm} {
			padding-left: 200px;
		}
		@media #{$xs} {
			padding-left: 0;
		}
	}
	margin-bottom: 55px;
}
