.block-hero {
    margin-bottom: 0;
    margin-top: 94px;
    background-color: red;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    @include gradient-vertical(darken($brand-primary, 50%), $brand-primary, 0%, 100%);
    @media #{$xs} {
        margin: 0;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
        @include gradient-vertical(darken($brand-primary, 50%), $brand-primary, 15%, 100%);
    }

    .block-content {
        padding: 140px 0 400px;
        @media #{$md}, #{$sm} {
            padding: 140px 0 300px;
        }
        @media #{$xs} {
            padding: 90px 0 200px;
        }

        h3 {
            color: white;
            font-size: 34px;

            .logo-white {
                @include size(42px, 27px);
                position: relative;
                top: -3px;
            }
            @media #{$xs} {
                font-size: 25px;
            }
        }

        h1 {
            font-size: 70px;
            color: $brand-primary;
            margin-top: 0;
            @media #{$xs} {
                font-size: 55px;
                line-height: 30px;
                margin-top: 25px;
                margin-bottom: 30px;
            }
        }

        p {
            color: white;
            padding-right: 470px;
            @media #{$md} {
                padding-right: 300px;
            }
            @media #{$sm} {
                padding-right: 100px;
            }
            @media #{$xs} {
                padding-right: 0;
            }
        }

        .purchase-tickets {
            margin-top: 15px;
            @media #{$xs} {
                margin-top: 40px;
            }
        }
    }
}
