.block-location {
	&-title {
		margin-bottom: 0px;
	}
  &-image-filler {
    background-color: $brand-primary-dark;
    margin-bottom: 0;
  }
	&-image {
		margin-bottom: 0px;
		background: white asset-url('denver.jpg') top right no-repeat;
	  	background-size: cover;
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
	  	height: 370px;
	  	@media #{$xs} {
	  		height: 200px;
	    	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
	  	}
	}
	&-content {
		address {
			margin-top: 25px;
			padding-bottom: 65px;
		}
		padding-bottom: 100px;
    margin-bottom: 0;
    background-color: $brand-primary-dark;
    color: white;
	}
}
