.block-media-sponsors {
	.inner {
		border-bottom: 2px solid #CECECE;
	}
	.block-content {
		.media-sponsor {
			margin-bottom: 25px;
			.img-responsive {
				display: inline-block;
			}
			@media #{$xs} {
				text-align: center !important;
			}
		}
		padding-bottom: 120px;
		@media #{$xs} {
			padding-bottom: 60px;
		}
	}
	margin-bottom: 0px;
}
