.block-navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: darken($brand-primary, 50%);
	z-index: 10;
	height: 94px;

	#toggle-nav {
		display: inline-block;

		& {
			width: auto;
			height: 94px;
			line-height: 94px;
		}

		img {
			@include size(30px, 20px);
			margin-right: 5px;
		}
	}

	nav.navbar {
		min-height: auto;
		border: 0;
		margin: 0;

		ul {
			padding: 0;
			margin: 0;
			float: none;

			li {
				float: none;
				list-style: none;

				&:first-child {
					margin-right: 31px;
				}

				&,
				a {
					display: inline-block;
					height: 94px;
					line-height: 94px;
				}

				a,
				a:active,
				a:focus,
				a:visited {
					padding: 0 20px;
					font-weight: 400;
					background-color: transparent;

					span {
						border-color: transparent;
					}
					@media #{$md} {
						padding: 0 11px;
					}
				}

				&.active {
					a,
					a:active,
					a:focus,
					a:hover,
					a:visited {
						span {
							border-color: white;
						}
					}
				}

				a:hover {
					a:active,
					a:focus,
					a:hover,
					a:visited {
						span {
							border-color: white;
						}
					}

					a:active,
					a:hover {
						background: transparent;
						color: white;
					}

					&.active {
						a,
						a:active,
						a:focus,
						a:visited {
							@extend .white-link;
						}
					}
				}
			}
		}
		@media #{$xs}, #{$sm} {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: darken($brand-primary, 50%);
			padding: 15px;
			border-radius: 0;
			display: none;

			&.open {
				display: block;
			}

			ul {
				li {
					display: block;
					width: 100%;
					text-align: left;
					padding-left: 40px;
					height: 50px;
					line-height: 50px;

					&.logo {
						padding-left: 0;
						margin-bottom: 15px;
					}

					a {
						display: block;
						height: 50px;
						line-height: 50px;
					}
				}
			}
		}
	}
}
