.block-sponsors {
	.inner {
		border-bottom: 2px solid #CECECE;
	}
	.block-content {
		.sponsor {
			margin-bottom: 25px;
			.img-responsive {
				display: inline-block;
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
			}
			@media #{$xs} {
				text-align: center !important;
        .img-responsive {
          display: inline-block;
          margin-bottom: 25px;
          transform: perspective(0) translateY(0);

        }
			}
		}
		padding-bottom: 120px;
		@media #{$xs} {
			padding-bottom: 60px;
		}
	}
}
