.block-sponsors {
	.inner {
		border-bottom: 2px solid #CECECE;
	}
	.block-content {
		.sponsor {
			margin-bottom: 25px;
			.img-responsive {
				display: inline-block;
			}
      .img-url {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
      }
			@media #{$xs} {
				text-align: center !important;
        .img-url {
          transform: perspective(0) translateY(0);
          margin-top: 10px;
          margin-bottom: 10px;
        }
			}
		}
		padding-bottom: 120px;
		@media #{$xs} {
			padding-bottom: 60px;
		}
	}
}
