%h1{style: "text-align:center"}
	Rocky Mountain Ruby
%h3 Contact Request
	
%table{width: '100%'}
	%tr
		%td{width: '100px'} 
			Name:
		%td= @name
	%tr
		%td Email:
		%td= @email
	%tr
		%td Comment:
		%td= @comment