body {
	font-weight: 300;
}

h1 {
	font-family: "pantonlight";
}

h2 {
	color: #333333;
}

h3 {
	font-size: 32px;
}

h4 {
	color: #333333;
	font-size: 24px;
	margin-top: 20px;
}

p,
ul {
	font-weight: 400;
}

a {
	&,
	&:active,
	&:focus,
	&:visited {
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1px;
		text-decoration: none;
		font-weight: 400;

		span {
			padding-bottom: 6px;
			border-bottom: 4px solid $link-color;
		}
	}

	&:hover {
		text-decoration: none;
	}

	&.white-link {
		color: white;

		span {
			border-color: white;
		}
	}

	&.gray-link {
		color: $text-color;

		&:hover {
			text-decoration: underline;
		}
	}
}
