.block.block-hero
  .container
    .inner
      .block-content
        %h3
          = image_tag 'logo.png', class: 'logo-white'
          Rocky Mountain Ruby
        %h1
          %span.hidden-xs September 30, 2016
          %span.visible-xs Sep 30, 2016
          %br
          Denver, CO
        %a{href: 'https://rockymtnruby2016.busyconf.com/bookings/new', class: 'white-link purchase-tickets'}
          %span Purchase Tickets
