#home.block.block-hero
  .container
    .inner
      .block-content
        %h3
          = image_tag 'logo.png', class: 'logo-white'
          Rocky Mountain Ruby
        %h1
          %span.hidden-xs September 30, 2016
          %span.visible-xs Sep 30, 2016
          %br
          Denver, CO
        %p.subtitle-paragraph Rocky Mountain Ruby is back for the seventh year, bringing together 250 developers in downtown Denver. Attendees will hear from nine industry leaders as we share practices and build our community.
        %p.subtitle-paragraph
          We are dedicated to a harassment-free conference experience for everyone.
          %a{href: 'https://github.com/turingschool/rocky-mountain-ruby/blob/master/public/antiharassment.markdown'}
            Our full anti-harassment policy can be found here.
        %a{href: 'https://rockymtnruby2016.busyconf.com/bookings/new', target: '_blank', class: 'white-link purchase-tickets'}
          %span Purchase Tickets
