#location.block.block-location-title
  .container
    .inner
      %h2.block-title Location
.block.block-location-image
.block.block-location-content
  .container
    .inner
      .block-content
        %h3 Denver Art Museum
        %p
          %a{href: 'http://denverartmuseum.org', target: '_blank', class: 'gray-link'}
            denverartmuseum.org
        %address
          %a{href: 'https://goo.gl/maps/5N7QNZYN3vN2', target: '_blank', class: 'gray-link'}
            100 W 14th Ave Pkwy, Denver, CO 80204
            %br
            Sharp Auditorium + Lobby
        %p
          %a{href: 'https://rockymtnruby2016.busyconf.com/bookings/new', target: '_blank'}
            %span Purchase Tickets
