#location.block.block-location-title
  .container
    .inner
      %h2.block-title Location
.block.block-location-image
.block.block-location-content
  .container
    .inner
      .block-content
        %h3 The Oxford Hotel
        %p
          %a{href: 'http://www.theoxfordhotel.com', target: '_blank', class: 'gray-link'}
            theoxfordhotel.com
        %address
          %a{href: 'https://goo.gl/maps/r4w2vNuYDos', target: '_blank', class: 'gray-link'}
            1600 17th St, Denver, CO 80202
        %p
          %a{href: 'https://rockymtnruby2017.busyconf.com/bookings/new', target: '_blank'}
            %span Purchase Tickets
