%header.block.block-navigation
  .container
    %nav{class: 'navbar', id: 'navbar'}
      %ul{class: 'nav navbar-nav'}
        %li
          %a{href:'#home'}
            = image_tag 'logo-pink.png', class: 'logo-pink'
        - @nav.each do |name|
          %li
            %a{href: "#" + name.downcase}
              %span= name
        %li
          %a{href: 'https://rockymtnruby2016.busyconf.com/bookings/new'}
            %span
              Tickets
        %li
          %a{href: 'https://github.com/turingschool/rocky-mountain-ruby/blob/master/public/scholars_program.md'}
            %span
              Scholars Program
