#speakers.block.block-speakers
  .container
    .inner
      %h2.block-title Speakers
      %div.overview-container
        %span RMR2016 will feature seven sessions on development technologies and two community spotlights on important applications of those technologies.
      .block-content
        .row
          - @speakers.each do |speaker|
            .col-md-4.col-sm-6.col-xs-12
              .speaker{data: {'mh' => 'speaker'}}
                .speaker-img
                  = image_tag speaker[:img], class: 'img-responsive'
                .speaker-name
                  %h4= speaker[:name]
                .speaker-bio
                  %p= speaker[:bio]
