-# #sponsors.block.block-sponsors
-#   .container
-#     .inner
-#       %h2.block-title Sponsors
-#       .block-content
-#         .row
-#           - @sponsors.each do |sponsor|
-#             .col-sm-4
-#               .sponsor{'data-mh': 'sponsor', class: cycle("text-left", "text-center", "text-right")}
-#                 = image_tag sponsor, class: 'img-responsive'
