#sponsors.block.block-sponsors
  .container
    .inner
      %h2.block-title Sponsors
      .block-content
        .row
          - @sponsors.each do |sponsor_img, sponsor_url|
            .col-sm-4
              .sponsor{'data-mh': 'sponsor', class: cycle("text-left", "text-center", "text-right")}
                = link_to (image_tag sponsor_img, class: 'img-responsive'), sponsor_url, class: 'img-url'
