.banner-scholar-program
.container
  .inner
    %h2.text-right Scholars Program
    %p.lead Be a Rocky Mountain Ruby 2016 Guide
    %pWant to help bring a new community member into the Ruby community? We're looking for volunteer Guides to partner up with this year's Opportunity Scholars.
    %p Opportunity Scholars are people who are new to the Ruby community or language, or may be new to programming altogether, and they're ready to have their first Rocky Mountain Ruby experience. They've told us the amazing stories of their path to Rocky Mountain Ruby, and we think they're going to be wonderful additions to our community. Your job is to help us welcome them and make them feel at home!
    %p While there is certainly an intangible component of what makes a great Guide, there are also a few things that we're looking for specifically:
    %ul
      %li Guides should be comfortable being available as a friendly face for their Scholars throughout the whole conference. You don’t have to stick with   them the whole time, but you should at least be able to meet with them a few times throughout the day and attend the welcome reception the   evening before.
      %li Guides should be able to recommend great talks for Scholars to attend after hearing about their interests, current skill levels, and experiences.
      %li Guides should be comfortable making introductions between Scholars and established developers, especially ones that might be influential in   the Scholars' areas of interest.
      %li Guides should be able to give feedback on breaking into the Ruby world, especially for Scholars looking for their first Ruby or Rails gig!
      %li Some examples of folks who would make fantastic Guides are: Rocky Mountain Ruby speakers, folks who are attending their second or third   Ruby conference (meaning that you remember what it's like to be new!), Hallway Track Superstars, and former RubyConf or RailsConf   Opportunity - Scholars. But even if you don't fit in one of those categories, you may still be a great fit -- apply anyway and tell us why you'd be a   great community ambassador!
    %p
      %a{href: '#'}
        %span Apply to be a guide today!
    %br
    %p Please note: Guides are responsible for buying their own tickets to Rocky Mountain Ruby. We regret that we are unable to offer discounted or free tickets to our Guides.
    %h1 Opportunity Scholarships
    %p Rocky Mountain Ruby is offering a limited number of full conference registration scholarships. These scholarships are open to anyone who would otherwise not have the means to attend the conference, though we especially encourage newcomers, women, minorities, and other underrepresented groups in the technology sector to apply. The Opportunity Scholarship is a chance to learn more about the Ruby programming language specifically and software development in general.
    %p Here are some things that are included in the Scholarship program in addition to a free ticket to Rocky Mountain Ruby 2016:
    %ul
      %li You'll be paired with a dedicated Guide, an experienced programmer or conference-goer who has attended a Ruby or Rails conference before and   is already familiar with many key players at the conference.
      %li An invitation to a welcome gathering to meet all of your fellow Scholars and Guides the evening before the conference. Reserved seating with   other Scholars and Guides in the front of the main conference venue for all sessions.
      %li An instant connection to the other Scholars, who like you, are new to the Ruby/programming community.
      %li The chance to level up your skills by attending awesome talks throughout the conference and meeting influential people in the community.
    %p Please note: We regret that we are unable to provide transportation or accommodation support for Scholars. We do recognize that this may place an additional burden on Scholars traveling to the conference from outside of the region and will do our best to provide non-financial assistance in making travel and accommodation arrangements.
    %p What are you waiting for?
    %p
      %a{href: '#'}
        %span Apply today!
    %br
    %p Scholarship applications will be reviewd on a rolling basis until Friday, August 26 at 11:59 pm MDT.
